@import url("https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  font-family: "Roboto", sans-serif;
  width: 1170px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  margin-left: 30px;
  margin-top: 37px;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 300;
  color: #605e5e;
  letter-spacing: 0.02em;
  margin-bottom: 31px;
}

.logo::first-letter {
  color: #1abc9c;
  text-decoration: solid;
  font-weight: 900;
}

.list {
  float: right;
}

.list-section {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 11px;
  margin-right: 30px;
  margin-top: 43px;
  font-weight: 700;
}

.list-section-link {
  text-decoration: none;
  color: #000000;
}

.list-section-link:hover {
  color: #1abc9c;
}

.section-title {
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
  color: #515151;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.section-title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 33px auto 0;
}

.featured {
  margin-top: 115px;
  margin-bottom: 140px;
  list-style: none;
  margin-left: 30px;
  width: 255px;
  height: 325px;
  float: left;
  position: relative;
}

.product-bg {
  width: 255px;
  height: 325px;
  background-color: #e9f0fd;
}

.product-img {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 285px;
  width: 255px;
}

.product-container {
  width: 255px;
  height: 40px;
}

.product,
.product-value {
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.product {
  padding-top: 4px;
  padding-left: 14px;
  display: inline-block;
  width: 201px;
  height: 40px;
  background-color: #323232;
}

.featured:hover .product {
  background-color: #1abc9c;
}

.featured:hover .product-value {
  background-color: #7fd9c7;
}
.product-value {
  padding-left: 11px;
  padding-top: 3px;
  background-color: #8c8c8c;
  height: 40px;
  width: 54px;
  float: right;
}

/* Slider */

.slider-bg {
  position: relative;
  background: url("../img/background/bg1.jpg");
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-size: cover;
}

.slider-ctrl {
  position: absolute;
  top: 230px;
  background-color: #1abc9c;
  border: none;
  width: 104px;
  height: 104px;
  cursor: pointer;
  color: #ffffff;
}

.slider-ctrl::hover {
  background-color: #709d8c;
}

.slider-ctrl-prev {
  left: 245px;
}

.pe-7s-angle-left {
  font-size: 100px;
}

.slider-ctrl-next {
  right: 245px;
}

.pe-7s-angle-right {
  font-size: 100px;
}

.slider-heading {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  left: 430px;
  top: 208px;
}

.main-bg {
  width: 1600px;
  background-color: #e9f0fd;
}

.slider-heading:first-line {
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
}

/* Position icon */

.icon-border {
  text-decoration: none;
  top: 90px;
  background-color: transparent;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}

.icon-border:hover {
  background-color: #1abc9c;
}

.icon-border-one {
  left: 45px;
}

.icon-border-two {
  left: 104px;
}

.pe-7s-shuffle,
.pe-7s-clock,
.pe-7s-like,
.pe-7s-cart {
  font-size: 30px;
  color: #ffffff;
  line-height: 48px;
}

.icon-border-three {
  right: 45px;
}

.product-icon-hov {
  background: url(../img/background/bg3.png);
  width: 235px;
  height: 261px;
}

.icon-border-cart {
  position: absolute;
  width: 166px;
  height: 50px;
  top: 147px;
  left: 45px;
  background-color: #323232;
  border: 1px solid #fff;
}

.icon-border-four {
  float: left;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.icon-border-cart:hover {
  background-color: #1abc9c;
}

.add-to-cart {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
}

.icon-hover {
  visibility: hidden;
}

.featured:hover .icon-hover {
  visibility: visible;
}
/* Footer */

.footer-bg {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  height: 88px;
  background-color: #323232;
}

.footer-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(254, 254, 254);
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.footer-color {
  color: #46bfa9;
}
